@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Customize these variable */
  /* https://github.com/adamwathan/tailwind-css-variable-text-opacity-demo */
  --tw-clr-primary-50: 255, 209, 209;
  --tw-clr-primary-100: 255, 154, 154;
  --tw-clr-primary-200: 250, 128, 114;
  --tw-clr-primary-300: 235, 39, 84;
  --tw-clr-primary-400: 223, 40, 0;
  --tw-clr-primary-500: 153, 35, 35;
  --tw-clr-primary-600: 128, 0, 0;
  --tw-clr-primary-700: 105, 0, 0;

  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #ffd1d1 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #ff9a9a */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #fa8072 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #eb2754 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #df2800 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #992323 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #800000 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #690000 */
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
